<!-- <div class="row"> -->
    <h3 class="text" style="text-align: center;">UNIVERSITY OF COLOMBO SCHOOL OF COMPUTING</h3>
    <h4 style="text-align: center;">
      <u>REPEAT EXAMINATION FORM - IS - SEMESTER I - 2018</u>
    </h4>
  <!-- </div> -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form (submit)="is1Data()">
        <label><h4><u>Subjects</u></h4></label>
        <h4 style="float: right;"><u>Grades Obtained</u></h4><br>
        <h6 style="float: right;line-height: 0.02;">(Previous Attempts)</h6>
        <br><br>
        <fieldset>
          <fieldset>
            <h4>1<sup>st</sup> Year</h4>
            <h6 style="float: right;margin-right: 1em;">1<sup>st</sup></h6>
            <h6 style="float: right;margin-right: 2em;">2<sup>nd</sup></h6>
            <h6 style="float: right;margin-right: 2em;">3<sup>rd</sup></h6>
          </fieldset>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="ENH_1001" name="EN_1001" value="Communication & Life Skills (EN 1001)"> Communication & Life Skills (EN 1001)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_1001" name="IS_1001" value="Programming and Problem Solving (IS 1001)"> Programming and Problem Solving (IS 1001)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_1002" name="IS_1002" value="Computer Systems (IS 1002)"> Computer Systems (IS 1002)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
  
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_1003" name="IS_1003" value="Information Systems Concepts (IS 1003)"> Information Systems Concepts (IS 1003)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_1004" name="IS_1004" value="Applications Laboratory (IS1004)"> Applications Laboratory (IS1004)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_1005" name="IS_1005" value="Introduction to Management (IS 1005)"> Introduction to Management (IS 1005)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_1006" name="IS_1006" value="Discrete Mathematics I (IS 1006)"> Discrete Mathematics I (IS 1006)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_1007" name="IS_1007" value="Fundamentals of Economics (IS 1007)"> Fundamentals of Economics (IS 1007)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
          </fieldset>
          <br>
          <fieldset>
            <h4>2<sup>nd</sup> Year</h4>
            <h6 style="float: right;margin-right: 1em;">1<sup>st</sup></h6>
            <h6 style="float: right;margin-right: 2em;">2<sup>nd</sup></h6>
            <h6 style="float: right;margin-right: 2em;">3<sup>rd</sup></h6>
          </fieldset>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="ENH_2001" name="EN_2001" value="Industrial Practices (EN 2001)"> Industrial Practices (EN 2001)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_2003" name="IS_2003" value=" Marketing (IS 2003)"> Marketing (IS 2003)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_2004" name="IS_2004" value="Web Application Development (IS 2004)"> Web Application Development (IS 2004)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_2005" name="IS_2005" value="Business Statistics (IS 2005)"> Business Statistics (IS 2005)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_2006" name="IS_2006" value="Business Process Management (IS 2006)"> Business Process Management (IS 2006)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
          </fieldset>
          <br>
          <fieldset>
            <h4>3<sup>rd</sup> Year</h4>
            <h6 style="float: right;margin-right: 1em;">1<sup>st</sup></h6>
            <h6 style="float: right;margin-right: 2em;">2<sup>nd</sup></h6>
            <h6 style="float: right;margin-right: 2em;">3<sup>rd</sup></h6>
          </fieldset>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3001" name="IS_3001" value="Enterprise Resource Planning Systems (IS 3001)"> Enterprise Resource Planning Systems (IS 3001)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3002" name="IS_3002" value="Human Computer Interaction (IS 3002)"> Human Computer Interaction (IS 3002)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3003" name="IS_3003" value="Software Quality Assurance (IS 3003)"> Software Quality Assurance (IS 3003)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3004" name="IS_3004" value="Strategic Management (IS 3004)"> Strategic Management (IS 3004)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3005" name="IS_3005" value="Professional Practice (IS 3005)"> Professional Practice (IS 3005)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3006" name="IS_3006" value="Interactive Media Design (IS 3006)"> Interactive Media Design (IS 3006)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3007" name="IS_3007" value="Contingency Planning and Risk Management (IS 3007)"> Contingency Planning and Risk Management (IS 3007)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3008" name="IS_3008" value="Middleware Architecture (IS 3008)"> Middleware Architecture (IS 3008)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3009" name="IS_3009" value="Systems & Network Administration (IS 3009)"> Systems & Network Administration (IS 3009)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3010" name="IS_3010" value="Research Methods (IS 3010)"> Research Methods (IS 3010)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3011" name="IS_3011" value="Operations Research (IS 3011)"> Operations Research (IS 3011)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3013" name="IS_3013" value="Group Project II (IS 3013)"> Group Project II (IS 3013)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3014" name="IS_3014" value="Enterprise Architecture (IS 3014)"> Enterprise Architecture (IS 3014)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3015" name="IS_3015" value="Advanced Web Development (IS 3015)"> Advanced Web Development (IS 3015)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3016" name="IS_3016" value="Computer Graphics I (IS 3016)"> Computer Graphics I (IS 3016)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="checkbox" [(ngModel)]="IS_3017" name="IS_3017" value="Machine Learning and Neural Computing (IS 3017)"> Machine Learning and Neural Computing (IS 3017)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <div class="form-check">
              <label class="">
                <input class="form-check-input" type="radio" [(ngModel)]="IS_3018" name="IS_3018" value="E-Learning and Instructional Design (IS 3018)"> E-Learning and Instructional Design (IS 3018)
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
                <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
              </label>
            </div>
            <br><br>
            <div class="form-group">
              <label for="exampleInputPassword1">Payment Receipt No</label>
              <input type="text" class="form-control" [(ngModel)]="receipt_no" name="receipt_no" style="width: 50%" id="exampleInputPassword1" placeholder="Receipt No" required>
            </div>
          </fieldset>
          <br>
          <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  <br>
  <br>
  <br>