<!-- <div class="row"> -->
  <h3 class="text" style="text-align: center;">UNIVERSITY OF COLOMBO SCHOOL OF COMPUTING</h3>
  <h4 style="text-align: center;">
    <u>REPEAT EXAMINATION FORM - IS - SEMESTER II - 2018</u>
  </h4>
<!-- </div> -->
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form (submit)="is2Data()">
      <label><h4><u>Subjects</u></h4></label>
      <h4 style="float: right;"><u>Grades Obtained</u></h4><br>
      <h6 style="float: right;line-height: 0.02;">(Previous Attempts)</h6>
      <br><br>
      <fieldset>
        <fieldset>
          <h4>1<sup>st</sup> Year</h4>
          <h6 style="float: right;margin-right: 1em;">1<sup>st</sup></h6>
          <h6 style="float: right;margin-right: 2em;">2<sup>nd</sup></h6>
          <h6 style="float: right;margin-right: 2em;">3<sup>rd</sup></h6>
        </fieldset>
        <fieldset class="form-group">
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_1008" name="IS_1008" value="Financial Accounting (IS 1008)"> Financial Accounting (IS 1008)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_1009" name="IS_1009" value="Business Communication (IS 1009)"> Business Communication (IS 1009)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_1010" name="IS_1010" value="Database Management (IS 1010)"> Database Management (IS 1010)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>

            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_1011" name="IS_1011" value="System Analysis & Design (IS 1011)"> System Analysis & Design (IS 1011)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_1012" name="IS_1012" value="Discrete Mathematics II (IS 1012)"> Discrete Mathematics II (IS 1012)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_1013" name="IS_1013" value="Organizational Behavior (IS 1013)"> Organizational Behavior (IS 1013)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_1014" name="IS_1014" value="Computing & Society (IS 1014)"> Computing & Society (IS 1014)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
        </fieldset>
        <br>
        <fieldset>
          <h4>2<sup>nd</sup> Year</h4>
          <h6 style="float: right;margin-right: 1em;">1<sup>st</sup></h6>
          <h6 style="float: right;margin-right: 2em;">2<sup>nd</sup></h6>
          <h6 style="float: right;margin-right: 2em;">3<sup>rd</sup></h6>
        </fieldset>
        <fieldset class="form-group">
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_2007" name="IS_2007" value="IT Project Management (IS 2007)"> IT Project Management (IS 2007)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_2008" name="IS_2008" value=" Information Systems Management (IS 2008)"> Information Systems Management (IS 2008)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_2009" name="IS_2009" value="Information Systems Security (IS 2009)"> Information Systems Security (IS 2009)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_2010" name="IS_2010" value="IT Procurement Management (IS 2010)"> IT Procurement Management (IS 2010)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_2011" name="IS_2011" value="Computer Networks (IS 2011)"> Computer Networks (IS 2011)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-check">
            <label class="">
              <input class="form-check-input" type="radio" [(ngModel)]="IS_2012" name="IS_2012" value="eBusiness Strategy (IS 2012)"> eBusiness Strategy (IS 2012)
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;">
              <input type="text" class="form-control mr-sm-2" style="width: 7%;float: right; line-height: 0.02;" required>
            </label>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Payment Receipt No</label>
            <input type="text" class="form-control" [(ngModel)]="receipt_no" name="receipt_no" style="width: 50%" id="exampleInputPassword1" placeholder="Receipt No" required>
          </div>
        </fieldset>
        <br>
        <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
      </fieldset>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
<br>
<br>
<br>
