<h3 > <font color="red"><b>Examination Branch</b></font>
</h3>
<br>
<div class="logo">
  <img src="assets/images/ucsc_logo2.png" alt="zjhjvz">
</div>

<p>
  The Assistant Registrar and her staff are constantly engaged in offering services to
  students for Examination & Registration purposes.
</p>
<p>
  Examinations & Registration Division is located at the 4th Floor of West Wing of
  University of Colombo School of Computing (UCSC) Building Complex.
</p>
<p>Only Students who have valid registration of the UCSC are enrolled to evaluate their academic excellence.
  Â  They will normally be allowed to attend to such activities during working days from 8.30 am. to 4.15 pm.
</p>
<p>The UCSC is affiliated to University of Colombo (UoC) for the purpose of awarding degrees. Therefore,
  the Vice-Chancellor of the University of Colombo is the principal executive officer and the principal
  academic officer who shall exercise all such powers vested in him by the Senate and the University Council
  to ensure uniformity and conformity with university standards for awarding degrees for the UCSC students.
</p>
<br>
<div class="pic">
  <img src="assets/images/logo12.jpg" alt="zjhjvz" height="400" width="1100">
</div>
<br>
<br>
<h3><font color="red"><b>Activities In Brief</b></font></h3>
<br>
<ul>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Every student of the University of Colombo
    School of Computing will be given a student Identity Card.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Admission of such students selected by
    the University Grant Commission (UGC) for undergraduate courses of study in Computer Science and
    Information & Communication Technology.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct Internal/External undergraduate
    examinations & Postgraduate examinations.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct Award Ceremonies for award of
    certificates for BIT (External) Degree  Programme.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Attend to activities of the External Degree Convocation.
  </p>
  <p>
    <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Issue of Academic Transcripts required by the all
    registered students of UCSC.
  </p>
</ul>
<br>


<h2>
  <font color="red"><b><u>Undergraduate Degree Programme</u></b></font>
</h2>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Semester , hours and credits system</ul>
  </b>
</h5>
<ul>
  <p>
    Academic programmes of UCSC are based on a semester system with two semesters per academic year and operate on a course module
    basis. The UCSC offers two types of courses namely Academic Courses and Enhancement Courses. Academic courses provide
    subject knowledge and enhancement courses provide knowledge on a wide range of disciplines that are required for a holistic
    education. The Lectures, practicals, tutorials, continuous assessments and laboratory works have been spread over a period
    of 15 weeks. Each semester may have one week mid-semester break at the mid of the semester and a study leave of one or
    two weeks at the end of the semester before the examinations.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Enhancement Courses</ul>
  </b>
</h5>
<ul>
  <p>
    Credits for some of the enhancement courses could also be obtained by participating to the sports conducted by Department
    of Physical Education or by participating to the competitions accepted by the course. Further information, could be obtained
    from the enhancement course coordinator.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Internship Programme</ul>
  </b>
</h5>
<ul>
  <p>
    Industrial Training is an integral part of the 3 Degree programmes conducted by the University of Colombo School of Computing
    (UCSC). This enables to provide much needed industrial exposure for the students, which is an essential part in the education
    to produce quality graduates in the fields of Computer Science (CS) and Information Systems (IS) to meet industrial standards.duration
    six months.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Lectures And Tutorial Classes</ul>
  </b>
</h5>
<ul>
  <p>
    Lectures are the main method of delivering course material to the student. The lectures time table for a semester with the
    details of the allocations of venues and time periods, will be published online (UGVLE) and on relevant notice boards.
  </p>
  <p>
    Most of the tutorial classes will be based on a particular problem sheet which will be distributed before the commencement
    of the class. Tutor is the first person for the student to consult when a problem arises while studying a particular
    course. It is found that many students who have attended all tutorial sessions and for all problem sheets; tend to do
    well at the final exam. Attendance of the Tutorial classes will be recorded.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Few more tips :</ul>
  </b>
</h5>
<ul>
  <ul>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Every postgraduate student of the
      University Of Colombo School of Computing will be given a student Identity Card.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Admission of such students selected by the
      University Grant Commission (UGC) for undergraduate courses of study
      in Computer Science and Information & Communication Technology.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct external postgraduate examinations.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Attend to activities of the internal degree convocation.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Issue of academic transcripts required by the all registered undergraduate students.
    </p>
  </ul>
</ul>
<br>
<br>




<h2>
  <font color="red"><b><u>Masters Degree Programmes At UCSC</u></b></font>
</h2>
<br>
<p>
  The UCSC presents a unique opportunity for those who are interested in obtaining a postgraduate
  qualification from the prominent metropolitan university in Sri Lanka and the Centre of Excellence
  and internationally reputed in Computing. A Faculty of over fifty in-house lecturers and visiting
  professionals will conduct the course, leading to a globally recognized degree.
</p>
<p>
  The University of Colombo School of Computing (UCSC) was established on 1st of September 2002 by merging
  the Institute of Computer Technology (ICT) and the Department of Computer Science (DCS) both of the
  University of Colombo. The Master of Science programme has a long history at UCSC, starting with the
  original programme nearly two decades ago.
</p>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Few more tips :</ul>
  </b>
</h5>
<ul>
  <ul>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Every postgraduate student of the
      University Of Colombo School of Computing will be given a student Identity Card.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Admission of such students selected by the
      University Grant Commission (UGC) for undergraduate courses of study in Computer Science and
      Information & Communication Technology.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct external postgraduate examinations.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct award ceremonies for award of
      certificates for BIT (External) degree  program.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Attend to activities of the external
      degree convocation.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Issue of academic transcripts required by
      the all registered postgraduate students.
    </p>
  </ul>
</ul>
<p>
  Issue of Academic Transcripts required by the all registered students of UCSC.
</p>





<footer class="footer-distributed">

  <div class="footer-right">

    <a href="https://www.facebook.com/UCSC.LK/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/UCSC_LK"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">
    <p><font size="6"><b>Contact Us</b></font></p>>

    <br>

    <p>Address : University of Colombo School of Computing
    UCSC Building Complex,
    35 ,Reid Avenue, Colombo 7
      SRI LANKA</p>
    <p>Telephone Number : +94 -11- 2581245/ 7</p>
  </div>

</footer>




