<h2>
  <u>Degree Programme</u>
</h2>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Semester , hours and credits system</ul>
  </b>
</h5>
<ul>
  <p>
    Academic programmes of UCSC are based on a semester system with two semesters per academic year and operate on a course module
    basis. The UCSC offers two types of courses namely Academic Courses and Enhancement Courses. Academic courses provide
    subject knowledge and enhancement courses provide knowledge on a wide range of disciplines that are required for a holistic
    education. The Lectures, practicals, tutorials, continuous assessments and laboratory works have been spread over a period
    of 15 weeks. Each semester may have one week mid-semester break at the mid of the semester and a study leave of one or
    two weeks at the end of the semester before the examinations.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Enhancement Courses</ul>
  </b>
</h5>
<ul>
  <p>
    Credits for some of the enhancement courses could also be obtained by participating to the sports conducted by Department
    of Physical Education or by participating to the competitions accepted by the course. Further information, could be obtained
    from the enhancement course coordinator.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Internship Programme</ul>
  </b>
</h5>
<ul>
  <p>
    Industrial Training is an integral part of the 3 Degree programmes conducted by the University of Colombo School of Computing
    (UCSC). This enables to provide much needed industrial exposure for the students, which is an essential part in the education
    to produce quality graduates in the fields of Computer Science (CS) and Information Systems (IS) to meet industrial standards.duration
    six months.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Lectures And Tutorial Classes</ul>
  </b>
</h5>
<ul>
  <p>
    Lectures are the main method of delivering course material to the student. The lectures time table for a semester with the
    details of the allocations of venues and time periods, will be published online (UGVLE) and on relevant notice boards.
  </p>
  <p>
    Most of the tutorial classes will be based on a particular problem sheet which will be distributed before the commencement
    of the class. Tutor is the first person for the student to consult when a problem arises while studying a particular
    course. It is found that many students who have attended all tutorial sessions and for all problem sheets; tend to do
    well at the final exam. Attendance of the Tutorial classes will be recorded.
  </p>
</ul>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Few more tips :</ul>
  </b>
</h5>
<ul>
  <ul>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Every postgraduate student of the 
      University Of Colombo School of Computing will be given a student Identity Card.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Admission of such students selected by the 
      University Grant Commission (UGC) for undergraduate courses of study
      in Computer Science and Information & Communication Technology.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct external postgraduate examinations.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Attend to activities of the internal degree convocation.
    </p>
    <p>
      <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Issue of academic transcripts required by the all registered undergraduate students.
    </p>
  </ul>
</ul>
<br>
<br>