<h2>
  <u>Masters Degree Programmes At UCSC</u>
</h2>
<br>
<p>
  The UCSC presents a unique opportunity for those who are interested in obtaining a postgraduate 
  qualification from the prominent metropolitan university in Sri Lanka and the Centre of Excellence 
  and internationally reputed in Computing. A Faculty of over fifty in-house lecturers and visiting 
  professionals will conduct the course, leading to a globally recognized degree.
</p>
<p>
  The University of Colombo School of Computing (UCSC) was established on 1st of September 2002 by merging 
  the Institute of Computer Technology (ICT) and the Department of Computer Science (DCS) both of the 
  University of Colombo. The Master of Science programme has a long history at UCSC, starting with the 
  original programme nearly two decades ago.
</p>
<br>
<h5>
  <b>
    <ul><i class="fa fa-circle" aria-hidden="true"></i> Few more tips :</ul>
  </b>
</h5>
<ul>
  <ul>
      <p>
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Every postgraduate student of the 
        University Of Colombo School of Computing will be given a student Identity Card.
      </p>
      <p>
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Admission of such students selected by the 
        University Grant Commission (UGC) for undergraduate courses of study in Computer Science and 
        Information & Communication Technology.
      </p>
      <p>
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct external postgraduate examinations.
      </p>
      <p>
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Conduct award ceremonies for award of 
        certificates for BIT (External) degree  program.
      </p>
      <p>
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Attend to activities of the external 
        degree convocation.
      </p>
      <p>
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i> Issue of academic transcripts required by 
        the all registered postgraduate students.
      </p>
  </ul>
</ul>
<p>
  Issue of Academic Transcripts required by the all registered students of UCSC.
</p>